#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# Security Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_install:
	find src/ -name '*.la' -delete
	dh_auto_install

override_dh_auto_configure:
	dh_auto_configure -- -DSS_DEPENDENCY_MODE=system -DWITH_STATIC=OFF -DWITH_DOC_MAN=ON -DWITH_DOC_HTML=ON -DSS_INSTALL_TOOLS=ON

override_dh_installchangelogs:
	dh_installchangelogs -XChanges

%:
	dh $@
