name: Release

on:
  push:
    tags: [ 'v*.*.*' ]

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.25.6'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          distribution: goreleaser
          version: 'latest'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
